.cardgrand-container{
    @extend %fullspace;
    display: grid;
    grid-template-columns: 40% 60%;
    .card-left{
        grid-column: 1/2;
        background-image: url(https://i.pinimg.com/564x/2f/96/5f/2f965f3f4fbeb80e164d1aaff3892625.jpg);
        background-size: cover;
        border-radius: 2rem;
        padding: 1rem;
        .label{
            @extend %fullspace;
            display: flex;
            flex-direction: column;
            justify-content: end;
            
            .title{
                font-style: italic;
                color: #ffffff;
            }
            .subtitle{
                color: #A1A2AC;
            }
        }
    }
    .card-right{
        grid-column: 2/3;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        .card-mark{
            height: 20%;
            background-color: #ffffff;
            img{
                width: 4.5rem;
                height: 4.5rem;
                @media (max-width: 768px){
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
        .card-label{
            height: 70%;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            label{
                font-size: 1.62rem;
                @media (max-width: 768px){
                    font-size: 1rem;
                }
            }

        }
        .card-text{
            height: 10%;
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
           label{
            font-size: 1rem;
            @media (max-width: 768px){
                font-size: 0.8rem;
            }
           }
        }
    }
}